/* --- Style --- */
html, body {
  /*padding-top: 35px; */
}
html {
  scroll-behavior: smooth;
}
a:link {
  text-decoration: none; }

.paid-pricing-table:hover {
  border: 1px solid blue; }

.no-border-left {
  border-left: none !important; }

.no-border-right {
  border-right: none !important; }

.no-border-top {
  border-top: none !important; }

.no_border-bottom {
  border-bottom: none !important; }

.table-center {
  margin: 0 auto !important;
  float: none !important; }

.navbar-default {
  background-color: #0f3217;
  border-color: #ff9300;
  font-size: 18px; }
  .navbar-default .navbar-brand {
    color: #ecf0f1; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #428bca; }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #428bca; }
  .navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #f2ede0;
    background-color: #ff9300;
    font-weight: bold; }
  .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #428bca;
    font-weight: bold;
    background-color: #ff9300; }
    .navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
      border-top-color: #428bca;
      border-bottom-color: #428bca; }
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1; }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #428bca;
    border-bottom-color: #428bca; }
  .navbar-default .navbar-toggle {
    border-color: #ff9300; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #ff9300; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ecf0f1; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #428bca;
      background-color: #ff9300; }

  .dash-font-size {
    font-size: 0.8em; }
    .table-responsive{
  /*overflow-x: auto;
    width: 100%;*/
    border: 0;
}

     }
@media (min-width: 768px) {
  .dash-font-size {
    font-size: 1.0em; } }
@media screen and (max-width: 600px) {
  img#doge {
    display: none; } }
/* hide sidebar sub menus by default */
#sidebar.nav .nav {
  display: none;
  font-size: 12px; }

pre {
  margin-top: 0px !important;
  padding-top: 0px !important;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  overflow-x: scroll;
  padding: 0px !important;
  padding-left: 15px !important; }

pre > code {
  margin-top: 0px !important;
  padding-top: 0px !important;
  font-size: 16px !important;
  padding-bottom: 0px !important; }

/* show sub menu when parent is active */
#sidebar.nav > .active > ul {
  display: block; }

.navbar-bright {
  background-color: #111155;
  color: #fff; }

.navbar-bright a, #masthead a, #masthead .lead {
  color: #aaaacc; }

.navbar-bright li > a:hover {
  background-color: #000033; }

.affix-top, .affix {
  position: static; }

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top: 30px;
    width: 228px; }

  #sidebar.affix {
    position: fixed;
    top: 70px;
    width: 228px; } }
#sidebar li.active.idoc {
  border: 0 #ccc solid;
  border-left-width: 1px;
  font-weight: bold; }

#docs-body h2 {
  padding-top: 50px;
  font-size: 35px; }

#docs-body blockquote {
  font-size: 14px; }

#sidebar .no-style {
  list-style: none; }

#recaptcha_area {
  margin: auto; }

.valid {
  border: 1px solid green; }

.navbar .nav > li > a.btn {
  display: inline-block; }

.navbar .nav > li > a.btn-primary,
.navbar .nav > li > a.btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff; }

.navbar .nav > li > a.btn-primary:active {
  color: rgba(255, 255, 255, 0.75); }

.navbar .nav > li > a.btn-success:active {
  color: #5cb85c; }

.navbar .nav > li > a.btn-info:active {
  color: #5bc0de; }

.navbar .nav > li > a.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }

.navbar .nav > li > a.btn-primary:hover,
.navbar .nav > li > a.btn-primary:active,
.navbar .nav > li > a.btn-primary.disabled,
.navbar .nav > li > a.btn-primary[disabled] {
  background-color: #0055cc; }

.navbar .nav > li > a.btn-primary:active,
.navbar .nav > li > a.btn-primary.active {
  background-color: #004099 \9; }

.navbar .nav > li > a.btn-success:hover,
.navbar .nav > li > a.btn-success:active,
.navbar .nav > li > a.btn-success.disabled,
.navbar .nav > li > a.btn-success[disabled] {
  background-color: #5cb85c; }

.navbar .nav > li > a.btn-success:active,
.navbar .nav > li > a.btn-success.active {
  background-color: #004099 \9; }

.navbar .nav > li > a.btn-info:hover,
.navbar .nav > li > a.btn-info:active,
.navbar .nav > li > a.btn-info.disabled,
.navbar .nav > li > a.btn-info[disabled] {
  background-color: #5bc0de; }

.navbar .nav > li > a.btn-info:active,
.navbar .nav > li > a.btn-info.active {
  background-color: #004099 \9; }

.navbar .nav > li > a.btn-danger:hover,
.navbar .nav > li > a.btn-danger:active,
.navbar .nav > li > a.btn-danger.disabled,
.navbar .nav > li > a.btn-danger[disabled] {
  background-color: #d9534f; }

.navbar .nav > li > a.btn-danger:active,
.navbar .nav > li > a.btn-danger.active {
  background-color: #004099 \9; }

.navbar .nav > li > a.btn-warning:hover,
.navbar .nav > li > a.btn-warning:active,
.navbar .nav > li > a.btn-warning.disabled,
.navbar .nav > li > a.btn-warning[disabled] {
  background-color: #f0ad4e; }

.navbar .nav > li > a.btn-warning:active,
.navbar .nav > li > a.btn-warning.active {
  background-color: #004099 \9; }

.standalone {
  margin-top: 50px; }

.ie input {
  line-height: 35px; }

.ie input[type="email"] {
  color: #2F82C2; }

.ie input[type="password"] {
  color: #ED1C70; }

.ie label {
  right: 10px; }

.ie input[type="email"]:focus, .ie input[type="password"]:focus {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff)";
  zoom: 1; }

.ie7 label, .ie6 label {
  display: none; }

.simple-docs .panel {
  padding: 10px; }

.simple-docs .panel h1 {
  margin-bottom: 25px; }

.toshow {
  display: none; }

.interactive-api .panel {
  background-color: #f2ede0; }

.simple-docs .panel h3 {
  margin-bottom: 25px; }

.text-bold {
  font-weight: bold; }

.selectable-plain {
  background-color: inherit;
  border: 0px !important;
  color: black;
  border-radius: 0px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
  -webkit-user-select: text;
  /* Chrome/Safari */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* IE10+ */
  /* Not implemented yet */
  -o-user-select: text;
  user-select: text; }

.selectable-plain-no-color {
  background-color: inherit;
  border: 0px !important;
  border-radius: 0px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
  -webkit-user-select: text;
  /* Chrome/Safari */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* IE10+ */
  /* Not implemented yet */
  -o-user-select: text;
  user-select: text; }

#qrcodeDiv canvas {
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 25px; }

.break-word {
  word-wrap: break-word; }

.restricted {
  max-width: 150px !important; }

.margin-vertical-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.margin-horizontal-15 {
  margin-right: 15px;
  margin-left: 15px; }

.text-center {
  text-align: center; }

#pricingpanels > .panel > p {
  border: 1px solid #cccccc;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-collapse: collapse; }

#pricingpanels th {
  background-color: #f5f2f0; }

.field_with_errors > input {
  border: 1px solid red; }

form .clearfix:before, form .clearfix:after {
  display: inline; }

.address-row {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid #cccccc;
  margin: 0px !important;
  padding-top: 5px;
  padding-bottom: 5px; }

.address-row:hover {
  background-color: #fff7e8; }

.top-bottom-padding-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.top-bottom-padding-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.padding-5 {
  padding: 5px; }

.address-row:last-of-type {
  border-bottom: 1px solid #cccccc; }

/*
Removes all scrollbars.

::-webkit-scrollbar { 
    display: none; 
}
*/
.tx-history-box {
  height: 351px;
  overflow: hidden;
  -ms-overflow-style: none;
  border-bottom: 1px solid #cccccc; }

.tx-history-box:hover {
  overflow: scroll; }

@media (max-width: 768px) {
  .btn-responsive {
    padding: 4px 4px;
    font-size: 80%;
    line-height: 1.1;
    border-radius: 3px; } }
@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2; } }
