.container {
    max-width: 81.25em;
    padding: 0 7.5em;
    margin: 0 auto;
}

/*#page-header .container {
    padding: 0 0 12px;
}
*/
.slides li {
    margin-right: 31px;
}
/*.col {
    margin-right:3%;
    padding:0 0%;
}*/

/*.row .col:last-child,
.col.last {
    margin-right:0;
}*/

.col.first {
    clear: both;
}

#page-header ul li {
    margin-left: 2.5em;
}

.container > h2:first-child,
.container > p:first-child,
.container > p:last-child {
    text-align: center;
}


.crsl-nav a {
    font-size: 3.75em;
}

.crsl-nav .previous {
    left: 0.25em;
}

.crsl-nav .next {
    right: 0.25em;
}



@media (min-height: 1000px) {
    .hero .background .hero-items {
        height: auto;
        min-height: 0;
    }
}



/* Security Page */

.security-hero .background,
.security-hero .background img,
.security-content .background,
.security-content .background img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.security-hero .background {
    top: 5em;
    right: 5%;
    width: 45%;
    height: 75%;
}

.security-hero .background img {
    width: 100%;
}

.security-content .blockchain .background {
    height: auto;
    min-height: 100%;
    width: 50%;
    margin: -2.5% -2.5% 0 0;
}

.security-content .blockchain .background img {
    height: auto;
    width: 100%;
}

.security-content .developers .background {
    height: 100%;
    right: auto;
    left: 50%;
    margin: 0 0 0 -40.625em;    
    width: 40.625em;
}

.security-content .developers .background img {
    left: 0;
    min-height: none;
    width: 25em;
    left: 7.75em;
}
.security-content .secure-data .background {
    height: auto;
    right: auto;
    left: 50%;
    min-height: 100%;
    width: 50%;
    margin: 0 0 0 -40.625em;    
    width: 40.625em;
}

.security-content .secure-data .background img {
    left: 0;
    min-height: none;
    width: 25em;
    left: 7.75em;
}

.security-content .secrets .background {
    height: 108%;
    margin: -2.5% -5% 0 0;
}

.security-content .outro .background {
    margin: 0 -15% 0 0;   
}

.security-content h2 span {
    display: block;
    font-weight: 600;
}

.security-content .distributed-trust.background {
    width: 40.625em;
    left: 50%;
    margin-left: -40.625em;
}

.security-content .basic-multisig.background {
    right: 50%;
    width: 40.625em;
    margin-right: -40.625em;
}

.security-content .distributed-trust img,
.security-content .basic-multisig img {
    width: auto;
    height: auto;
}

.security-content .distributed-trust #dist-coins,
.security-content .basic-multisig #coins {
    width: 20.3125em;
    top: 3.75em;
    left: 10.15625em;
}

.security-content .basic-multisig .coins,
.security-content .distributed-trust .coins {
    width: 17.5em;
    top: 3.75em;
    left: 11.5625em;    
    height: auto;  
}

.security-content .distributed-trust img {
    top: auto;
}

.security-content .basic-multisig #basic-1p-1k-b-1k,
.security-content .distributed-trust .fadein img {
    bottom: 0;
    width: 35em;
    left: 2.8125em;
    top: auto;
}

.security-content .basic-multisig .one-lock,
.security-content .distributed-trust .one-lock {
    width: 2.5em;
    top: 11.25em;
    left: 19.0625em;
    z-index: 4;
    height: auto;
}

.security-users .background img {
    height: 70%;
    top: 15%;
    width: 45%;
    right: 5%;
}

.security-users .background {
    width: 100%;
}




/* 12 Column Grid 1040px - Infinity  */

.lg-col-01 {
    width:5.58333333333%;
}
.lg-col-02 {
    width:14.1666666667%;
}
.lg-col-03 {
    width:22.75%;
}
.lg-col-04 {
    width:31.3333333333%;
}
.lg-col-05 {
    width:39.9166666667%;
}

.hero .background .hero-items,
.lg-col-06 {
    width:48.5%;
}
.lg-col-07 {
    width:57.0833333333%;
}
.lg-col-08 {
    width:65.6666666667%;
}
.lg-col-09 {
    width:74.25%;
}
.lg-col-10 {
    width:82.8333333333%;
}
.lg-col-11 {
    width:91.4166666667%;
}
.lg-col-12 {
    margin-left:0;
    width:100%;
}

