.container {
    padding: 0 3.75em;
    max-width: 64.9375em;
}

#page-header .container {
	padding: 0em 3.75em;
}

.col {
   /* margin-right:4%;
	padding:0 0%;*/
}

.col.right,
.col.md-col-03:nth-child(even),
.col.last,
.row .col:last-child {
    margin-right:0;
}

h2 + .col.md-col-06 {
    padding-bottom: 1.25em;
}



#page-footer .col.md-col-06 {
    padding-bottom: 1.5625em;
}

#page-footer .col.md-col-06 p {
    text-align: center;
}

#page-footer .logo {
    margin: 0 auto 0.625em auto;
}

.hero {
    padding: 6.25em 0 2.5em;
    position: relative;
    height: auto;
}

.content {
    position: relative;
    top: 0;
}

.hero .background {
    top: 0;
}


.hero .counter {
    position: relative;
    right: auto;
    top: 0;
    margin: 0;
}
.hero .counter p {
    text-align: left;
}
.hero .counter span {
    font-size: 1.25em;
    display: inline;
}

.container > h2:first-child,
.container > p:first-child,
.container > p:last-child {
    text-align: center;
}

.hero .background .hero-items  {
    opacity: 0.25;
    right: auto;
    left: 0;
}

.container > h2:first-child, 
section .container > p:first-child, 
.container > p:last-child {
    text-align: left;
}

section .container .col > p {
    max-width: 37.5em;
}

h2 {
    font-size: 2.1875em;
    text-align: left;
}

.security-content h2 {
    font-size: 1.875em;
    line-height: 1.25em;
}

.content .col.lg-col-03 h3 {
    font-size: 1.5em;
    line-height: 1.25em;
}
.content .col.lg-col-03 p {
    font-size: 1.1em;
    line-height: 1.38888888888889em;
}

form.cta {
    margin-top: 0;
}


/* Security Page */

.security-content p {
    font-size: 0.85em;
    line-height: 1.475em;
}

.security-hero .background,
.security-hero .background img,
.security-content .background,
.security-content .background img {
    position: absolute;
    right: 0;
    top: 0;
}

.security-content .background,
.security-hero .background {
    height: 100%;   
}

.security-hero .background img {
    width: 100%;
}


body .security-hero {
    padding: 6.25em 0 2.5em;
}

.security-hero .background {
    top: 6.25em;
    right: 5%;
    width: 45%;
    height: auto;
}


.security-content .background {
    width: 40%;    
    top: 25%;
    min-height: none;
}

.security-content .background img {
    width: 100%;
    height: auto;
}

.security-content .developers .background {
    left: 1.25em;
}

.security-content .secure-data .background {
    height: auto;
    right: auto;
    left: 1.25em;
    width: 45%;
    top: 20%;
}

.security-content h2 span {
    display: block;
    font-weight: 600;
}

.security-content .distributed-trust.background {
    left: 1.25em;
    top: 0;
}

.security-content .basic-multisig.background {
    right: 1.25em;
    top: 0;
}

.security-content .distributed-trust img,
.security-content .basic-multisig img {
    width: auto;
    height: auto;
}

.security-content .basic-multisig .coins,
.security-content .distributed-trust .coins {
    width: 13.75em;
    top: 3.75em;
    left: 1.875em;    
    height: auto;  
}

.security-content .distributed-trust .coins {
    left: auto;
    right: 1.875em;    
}

.security-content .distributed-trust img {
    top: auto;
}

.security-content .basic-multisig #basic-1p-1k-b-1k,
.security-content .distributed-trust .fadein img {
    width: 21.25em;
    left: -1.875em;
    top: 12.5em;
}

.security-content .distributed-trust .fadein img {
    right: -1.875em;
    left: auto;
}

.security-content .basic-multisig .one-lock,
.security-content .distributed-trust .one-lock {
    width: 2.5em;
    top: 11.25em;
    left: 7.5em;
    z-index: 4;
    height: auto;
}

.security-content .distributed-trust .one-lock {
    left: auto;
    right: 7.5em;
}

.security-users .background {
    width: 45%;
    top: 25%;
}

.security-blockio.secrets .background {
    width: 65%;
    top: 15%;
    right: -17.5%;
}




@media (min-width: 1001px) {
    #page-header ul li {
        margin-left: 1.25em;
    }
}

@media (max-width: 1000px) {

    #page-header p.col,
    #page-header p a,
    #page-header .logo {
        display: block;
        margin: 0 auto;
    }

    #page-header ul {
        text-align: center;
    }

    #page-header ul li {
        display: inline-block;
        float: none;
        margin: 0 0.75em;
        font-size: 0.85em;
    }

}

@media (width: 1024px) and (orientation: landscape) {

    .hero .background .hero-items  {
        opacity: 1;
        left: 50%;
        right: auto;
    } 
      
}

@media (width: 768px) and (orientation: portrait) {

    .hero .background .hero-items  {
        opacity: 1;
        left: auto;
        right: 0%;
        width: 70%;
        top: auto;
        bottom: 0;
        height: auto;
    } 
      
}

.crsl-nav a {
    font-size: 2.5em;
}

.crsl-nav .previous {
    left: 0.25em;
}

.crsl-nav .next {
    right: 0.25em;
}


.md-col-01 {
    width:13.3333333333%;
}
.md-col-02 {
    width:30.6666666667%;
}
.md-col-03 {
    width:48.0%;
}
.md-col-04 {
    width:65.3333333333%;
}
.md-col-05 {
    width:82.6666666667%;
}
.md-col-06 {
    margin-left:0;
    width:100%;
}