
@font-face { font-family: 'Sosa'; src: url("../fonts/sosa-regular-webfont.eot"); src: url("../fonts/sosa-regular-webfont?#iefix") format("embedded-opentype"), url("../fonts/sosa-regular-webfont.woff") format("woff"), url("../fonts/sosa-regular-webfont.ttf") format("truetype"); }


/* clearfix */


#page-footer:before,
#page-footer:after,
#page-header:before,
#page-header:after,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
section:before,
section:after {
    content: "";
    display: table;
}

#page-footer:after,
#page-header:after,
.container:after,
.clearfix:after,
section:after,
section:after {
    clear: both;
}

#page-footer,
#page-header,
.clearfix,
section,
.container {
    position: relative;
    zoom: 1;
}


/* utility classes */

.left {
    float: left;
}

.col.right,
.right {
    float: right;
}

.row {
    float: none;
    width: 100%;
    clear: both;
}

.center {
    text-align: center;
}

.center img {
    float: none;
    margin: 0 auto;
}

.block {
    display: block;
}


* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    background: #fff;
    color: #111;
    font: 300 1em/1.5625em "Droid Serif", "Georgia", sans-serif;
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #003c78;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
    border-bottom: 1px solid transparent;
}

a:hover {
    color: #c83c32;
    border-bottom-color: rgba(0,0,0,0.05);
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
}

nav a {
   
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.8em;
    line-height: 2.125em;
}

nav a i {
    display: inline-block;
    margin-right: 0.25em;
}




/* typography */

code, 
pre {
    font-family: "Fira Mono", "Courier New";
    font-size: 0.95em;
}


h3.big,
h2 {
    font-size: 1.875em;
    font-weight: 300;
}

h4.big,
.faq h2,
h3 {
    letter-spacing: 0;
    font-size: 1.25em;
    line-height: 1.25em;
    margin-bottom: 0.3125em;  
    font-weight: 600;  
}

h1,
h2,
h3,
h4 {
    font-family: "Fira Sans", "Lucida Grande", sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    color: rgba(0,0,0,0.75);
}

h1 {
    font-size: 2.5em;
    line-height: 1.25em;
}

.hero h1 {
    color: #fff;
    margin-bottom: 0;
}

h2,
h3,
h4 {
    color: #beaf69;
}

h2 {
    font-weight: 300;
    line-height: 1.25em;
    margin-bottom: 0.75em;
}

.text-block h3,
#page-footer h2,
h4 {
    font-weight: 700;
    font-size: 18px;
}



label,
td,
th,
ul li,
ol li,
p {
    font-size: 1em;
    line-height: 1.5625em;
    margin-bottom: 1.5625em;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}

ul li {
    list-style: none;
    margin: 0;
}

ul.bulleted {
    margin-bottom: 1.25em;
}

ul.bulleted li {
    list-style: disc;
    margin-left: 1.25em;
}

pre {
    padding: 1.25em;
    background: rgba(0,0,0,0.05);
}

.text-block h3 {
    margin-bottom: 0;
}



/* header */

#page-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: "Fira Sans", "Lucida Grande", sans-serif;
    background: transparent;
}

#page-header p,
nav ul {
    margin-bottom: 0;
}

nav ul li {
    display: block;
    float: left;
}

#page-header a {
    /*display: block;*/
    color: #fff;
}

#page-header a:hover {
    color: rgba(255,255,255,0.75);
}

#page-header p a {
    height: 2.11em;
}

#page-header .logo {
    width: 1.25em;
    height: 2.11em;
    padding-top: 3px;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
}

#page-header .logo:hover {
    opacity: 0.75;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
}

#page-header .nav-login a,
#page-header .nav-sign-up a {
    padding: 0 1.25em;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 3px;
}

#page-header .nav-sign-up a {
    background: rgba(255,255,255,0.25);
    color: #fff;
    border-color: transparent;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#page-header .nav-sign-up a:hover {
    background: #111;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
}



/* footer */

.hero,
#page-footer {
    background: #001933;
}

#page-footer h2 {
    margin-bottom: 20px;
}

#page-footer a {
    color: #fff;
}

#page-footer a:hover {
    color: rgba(255,255,255,0.75);
}

#page-footer p,
#page-footer ul li {
    font-size: 0.85em;
    font-family: "Fira Sans", "Lucida Grande", sans-serif;
}

#page-footer .container > p:first-child {
    font-style: italic;
    margin-bottom: 3.65em;
    line-height: 1.65em;
}

#page-footer p,
#page-footer ul li,
#page-footer h2 {
    color: #ddd;
}

#page-footer .logo {
    width: 6.25em;
    margin-bottom: 0.625em;
    opacity: 0.5;
}

#page-footer .logo,
#page-footer .col p span {
    display: block;
}

#page-footer .button {
    margin-left: 1em;
    font-size: 0.75em;
}




/* buttons & inputs */

form input.button,
.button {
    display: inline-block;
    background: #1e5a3c;
    border-radius: 100em;
    padding: 0.75em 4em;
    font-size: 0.75em;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.05);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    border: 0;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
    font-style: normal;
    font-family: "Fira Sans", "Lucida Grande", sans-serif;
    line-height: 2.083333333em;
    padding-bottom: 0.25em\9\0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .button {
        padding-bottom: 0.25em;
    }
    nav ul li {
        line-height: 3.75em;
    }
}

a.button:hover,
.button:hover {
    color: #fff;
    background: #143723;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border: 0;
}

.button.blue {
    background: #003c78;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.button.blue:hover {
    background: #00284b;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


.button.gold {
    background: #beaf69;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.button.gold:hover {
    background: #6e6e46;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.button.red {
    background: #c83c32;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.button.red:hover {
    background: #a52d2d;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

form .button i {
    font-size: 2em;
    vertical-align: bottom;
}

input,
textarea {
    font-family: "Fira Sans", Helvetica, sans-serif;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom-width: 2px;
    box-shadow: none;
    display: block;
    border-radius: 3px;
    padding: 0.65em 1em;
    background: #fafafa;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
    color: #777;
}



textarea:focus,
input:focus {
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background: #fff;
    outline: none;
    border-color: rgba(0,0,0,0.25);
}




/* cta */

form.cta {
    clear: both;
    padding: 1.5625em 0 1.25em;
    margin-top: 1.25em;
    border-top: 2px solid rgba(255,255,255,0.25);
}


form.cta input {
    padding: 0.3125em 1.5em;
    margin: 0 0.625em 1.25em 0;
    font-size: 0.75em;
    min-width: 300px;
    clear: none;
    height: 3.35em;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

form.cta p {
    margin-bottom: 0;
}

.cta input.button {
    font-size: 0.65em;
    padding: 1em 3em;
    min-width: 0;
    height: 3.85em;
    line-height: 1.5em;
    margin: 0;
}

.container form.cta h2:first-child {
    font-size: 1em;
    text-align: left;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 0.625em;
}

.cta .button i {
    vertical-align: middle;
}

/* forms */

.form label,
.form input,
.form textarea {
    display: block;
    float: none;
    clear: both;
    width: 100%;
}

.form input,
.form textarea {
    font-size: 0.85em;
}

label {
    margin-bottom: 0.5em;
}

.form form ul li {
    padding-bottom: 1.25em;
}

textarea {
    min-height: 10em;
}

input[type="submit"] {
    width: auto;
    font-size: 0.625em;
}

label.error {
    clear: both;
    background: #ff4645;
    padding: 0.5em 1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.625em;
    float: left;
    width: auto;
    margin-top: -2px;
    border-top: 2px solid rgba(255,255,255,0.5);
}


/* tabs */


.tabs,
.tab-content {
    width: 100%;
    float: none;
    clear: both;
    position: relative;
}

.tabs {
    z-index: 2;
}

.tabs li {
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Fira Sans", "Lucida Grande", sans-serif;
    border: 1px solid rgba(0,0,0,0.1);
    margin-right: 1.25em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 0;
}

.tabs li a {
    display: block;
    padding: 0.3125em 0.625em;
}

.tabs li.active {
    background: #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.tab-content {
    z-index: 1;
    border: 1px solid rgba(0,0,0,0.1);
    background: #e3e3e3;
    top: -1px;
    border-radius: 3px;
    border-top-left-radius: 0;
}

.code.tab-content p {
    text-align: right;
    padding: 0.625em;
    font-size: 0.85em;
    line-height: 1.125em;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    font-family: "Fira Sans", "Lucida Grande", sans-serif;
}

.code.tab-content pre {
    margin-top: 0;
    margin-bottom: 0;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}


/* landing page specific styles */

.container > h2:first-child {
    margin-bottom: 1.25em;
}

.hero {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 6.25em 0 0;
    background: linear-gradient(to bottom, #011933 0%, #00365b 100%);
}

.content {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}

.hero .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero .background img {
    position: fixed;
    /*
    min-height: 100%;
    min-width: 1600px;
    */
}

.hero .background .hero-items {
    top: 0em;
    left: auto;
    right: 0em;
    min-height: 100%;
    min-width: 0;
    width: auto;
    min-height: 0;
    height: 100%;
    padding-top: 3.125em;
}

.hero .background .block {
    border: 1px solid rgba(255,255,255,0.05);
    height: 10px;
    width: 10px;
    position: absolute;
}

.hero .counter {
    position: fixed;
    right: 2.5em;
    text-align: right;
    top: 60%;
    margin-top: -2.5em;
}

.hero .counter p {
    color: #fff;
    text-align: right;
    font-family: "Fira Sans", "Lucida Grande", sans-serif;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    font-size: 0.75em;
    letter-spacing: 1px;
}

.hero .counter span {
    display: block;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 0.25em;
}

.hero .background .block-single {
    position: absolute;
    top: -200%;
    right: 7.5em;
}

.hero h1 span.name {
    display: block;
    width: 2.5em;
    background: #beaf69;
    padding: 0 0.15625em 0.078125em;
    margin-bottom: 0.3125em;
    line-height: 1em;
}

.hero h1 span.name img {
    height: 0.625em;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .hero h1 span.name {
        padding-bottom: 0;
    }
    .hero h1 span.name img {
        margin-top: 0.25em;
    }
}

section ul li h3 {
    margin-bottom: 0;
}

.quotes .col img,
.wallet .col img {
    display: inline-block;
    width: 7.5em;
    margin: 0.625em auto;
}

.wallet .col img {
    width: 10em;
}

.quotes {
    padding-bottom: 2.5em;
}

.quotes .col a {
    display: block;
    height: 7.5em;
    position: relative;
}

.quotes .col a:hover {
    border-bottom-color: transparent;
}

.quotes .col a img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.quotes .col a img.bw {
    z-index: 2;
}

.quotes .col img.quickdoge {
    left: 50%;
    margin-left: -3.75em;
}

.quotes .col img.greenschool {
    left: 50%; 
    margin-left: -3.4375em;
}

.quotes .col img.cryptofaucets,
.quotes .col img.cryptowoo {
    width: 12.5em;
    padding-top: 1.25em;
    left: 50%;
    margin-left: -6.25em;
}

.quotes .col img.cryptofaucets {
    padding-top: 2.25em;
}

section.alt,
section.developer {
    background: #f7f7f7;
}

.quotes p {
    font-style: italic;
}

li.col.lg-col-04 p,
.text-block p,
.col.lg-col-03 p {
    font-size: 0.85em;
    line-height: 1.475em;
}

.text-block h4 {
    margin-bottom: 0;
}



/* slider */

.slider-wrapper {
    overflow: hidden;
}

.slider .container {

    float: left;
}

.slider {
    width: 10000px;
}

.crsl-nav {
    position: absolute;
    width: 100%;
    margin-top: -2.5em;
    top: 50%;
    height: 5em;
}

.crsl-nav a {
    position: absolute;
    z-index: 100;
    display: block;
    color: #eee;
    font-family: 'Sosa';
    font-size: 3.75em;
}

.crsl-nav .previous {
    left: 0.25em;
}

.crsl-nav .next {
    right: 0.25em;
}



/* security */

.security-hero {
    background: #021b37;
    padding: 7.5em 0 5em;
}

.security-hero h1 {
    color: #fff;
}

.security-hero p {
    text-align: left;
    color: rgba(255,255,255,0.75);
}







/* layout */

footer,
section {
    padding: 5em 0 0;
    overflow: hidden;
    background: #fff;
    position: relative;
    z-index: 5;
}

section {
    padding: 3.75em 0;
}

.container {
    position: relative;
    z-index: 5;
}

.col {
    border:0px solid rgba(0,0,0,0);
    /*float:left;*/
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



