.security-content .background,
.container {
    padding: 0 1.875em;
}

/*.col {
    margin-right:6%;
	padding:0 0%;
}*/

#page-header .container {
	padding: 0.25em 1.875em;
}

.developer .text.col:last-child {
	padding-bottom: 0;
}

.text.col p:last-child {
	margin-bottom: 0;
}

.developer .text.col {
	padding: 1.25em 1.875em;
}


.col.sm-col-03,
.col.last,
.col:last-child {
    margin-right:0;
}

.hero .background img {
	min-width: 1600px;
}

.hero .background .hero-items {
	display: none;
}

.center p,
.center h3 {
	text-align: left;
	clear: both;
}

.center img {
	float: left;
	clear: both;
}

#page-header p.col,
#page-header p a,
#page-header .logo {
	display: block;
	margin: 0;
	float: left;
}

#page-header .logo {
	margin-top: 2px;
}

#page-header {
	height: 4.375em;
}
/*
#page-header ul {
	text-align: center;
	margin-top: 0.25em;
	background: rgba(0,0,0,0.25);
	padding: 0 1.875em;
	width: 100%;
	left: 0;
	display: block;
	position: absolute;
	top: 2.5em;
}*/

#page-header ul li {
	/*display: inline-block;*/
	float: none;
    margin: 0 0.75em;
    font-size: 0.85em;
}

#page-header ul li.nav-login,
#page-header ul li.nav-sign-up {
	position: absolute;
	right: 8.75em;
	top: -2.5em;
	margin: 0;
}

#page-header ul li.nav-sign-up {
	right: 1.875em;
}

.hero {
    padding: 7.5em 0 1.25em;
    position: relative;
    height: auto;
}

.content {
	position: relative;
	top: 0;
}

.hero .background {
    top: 0;
}

.security-hero h1,
.hero h1 {
    font-size: 1.875em;
}

.hero .counter {
	position: relative;
	right: auto;
	top: 0;
	margin: 0;
}
.hero .counter p {
	text-align: left;
}
.hero .counter span {
	font-size: 1.25em;
	display: inline;
}

form.cta {
	margin-top: 0;
}

form.cta ul,
form.cta ul li,
form.cta input {
	display: block;
	min-width: 0;
	width: 100%;
}

.developer .container {
	padding: 0.25em 0;
}

.developer .container > h2 {
	padding: 0 1em;
}

.developer .tabs {
	font-size: 0.85em;
}

.developer .tabs li {
	margin: 0 0.25em;
}


.hero .background .hero-items {
    opacity: 0.25;
    right: auto;
    left: 0;
}

#page-footer .col.sm-col-03 {
	padding-bottom: 1.25em;
}

#page-footer p span {
	display: block;
}

#page-footer .button {
	margin: 0.625em 0 0;
}

.showcase .container.carousel {
	padding: 0 3.125em;
}

form input.button,
.button {
	padding: 0.75em 2.5em;
}

.crsl-nav a {
    font-size: 1.875em;
}

.crsl-nav .previous {
    left: 0.25em;
}

.crsl-nav .next {
    right: 0.25em;
}

.quotes .col img {
	left: 0 !important;
	margin-left: 0 !important;
}

.content .col.lg-col-03 p {
    font-size: 1em;
    line-height: 1.5625em;
}


/* Security Page */


.security-content p {
    font-size: 0.85em;
    line-height: 1.475em;
}

.security-hero {
	padding: 6.25em 0 2.5em 0;
}

.security-hero .background {
	padding-bottom: 1.25em;
}

.security-content .background img {
	display: block;
	max-width: 15.625em;
	max-height: 12.5em;
	float: none;
	margin: 0 auto 1.25em;
}

.security-content .security-developers.developers .background img,
.security-content .security-users.alt .background img {
	margin: -1.35em 0 1.25em -2.75em;
}

.security-content .security-developers.developers .background img {
	margin-top: -0.5em;
}

.security-content .security-blockio .background img {
	margin: -0.25em 0 1.25em -2.15em;
}

.security-content .background .fadein {
	position: relative;
	width: 150%;
	margin-left: -25%;
	min-height: 12.5em;	
}

.security-content .security-keys .background .fadein img,
.security-content .security-keys .background img#basic-1p-1k-b-1k {
	width: 100%;
	max-width: 100%;
	margin: -1.875em 0 0 0;
}

.security-content .security-keys .background .fadein img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
	width: 100%;
	max-width: 100%;
}

.security-content .background img.one-lock {
	height: 5em;
	margin: 0 auto;
}


@media (max-width: 450px) {
	.security-content .background,
	#page-header ul,
	.container {
	    padding: 0 1.25em;
	}

	.hero {
		padding-top: 5.625em;
	}

	h2,
	.hero h1 {
		font-size: 1.5625em;
	}

	h2 {
		font-weight: 600;
		line-height: 1.25em;
	}

	#page-header .container {
		padding: 0.25em 1.25em;
	}

    #page-header ul li {
		margin: 0 0.85em;
		font-size: 0.5em;
	}

	#page-header ul li:first-child {
		margin-left: 0;
	}

	#page-header ul li.nav-about {
		margin-right: 0;
	}

	#page-header ul li.nav-login,
	#page-header ul li.nav-sign-up {
		right: 2.222222em;
		top: -3.625em;
	} 

	#page-header ul li.nav-login {
		right: 10.625em;
	}
      
}


.sm-col-01 {
    width:29.3333333333%;
}
.sm-col-02 {
    width:64.6666666667%;
}
.sm-col-03 {
    margin-right:0;
    width:100%;
}