.btn{
	border-radius: 0;
}
.row.table-buyer-order {
    margin-top: 16px;
}

.row.table-buyer-order .table{
   background-color: #003155;
   text-align: center;
   border: 2px solid #ddd;
}

.row.table-buyer-order .buyer-orders{
	color: #ffffff;
}

.row.table-buyer-order .white tr td{
   text-align: center;
   color: #ffffff;
}

.row.table-buyer-order .white tr th{
   text-align: center;
   color: #ffffff;
}

.row.table-buyer-order .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #002d4fe8;
}
.table tr th, td{
   text-align: center;
}

.row.table-buyer-order .table tr .action-btn .btn{
	border-radius: 0;
}

.content .wallet .how-it-works-steps{
	margin: 0;
	text-align: center;
}

.hero .form-inline .amount-t{
	padding: 0 0px 0 0px;
}

.form-control {
    color: #fff;
    background-color: #003155;
}

textarea:focus, input:focus {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background: #003155;
    outline: none;
    border-color: rgba(0,0,0,0.25);
}

.btn-primary-custome {
    color: #ffffff;
    background-color: #4582ec;
    border-color: #ddd;
}

.navbar-scroll {
    background: #003155;
   	min-height: 52px;
    /*padding: 6px 0px;*/
    border-radius: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
}

#page-footer ul li{
	padding: 4px 0 4px 0px;
}

#page-footer .copy-right{
	/*padding-top: 30px;*/
}

/*#page-footer .footer-nav{
	padding-top: 20px;
}
*/
#page-footer .footer-nav li{
	margin-bottom: 10px;
}

#page-footer .footer-nav li{
	display: inline-block!important;
}

#page-footer .footer-nav li a{
	padding: 12px 30px;
}
#page-footer ul li a i{
	margin-right: 10px;
	font-size: 20px;
}

@media(min-width: 768px){
	.mobile-view-logo{
		display: none;
	}
	.desktop-view-logo{
		display: block;
	}
}

@media(max-width: 768px){
	.hero .form-inline .amount-t{
  		padding: 0 16px 0 16px;
	}
	.desktop-view-logo{
		display: none;
	}
	.mobile-view-logo{
		display: block;
	}
	#page-footer .map-adds a img{
		width: 100%;
	}
	.main-page-list{
		text-align: center;
	}
	.social-icons{
		text-align: center;
	}
}